  @font-face {
    font-family: 'Centra';
    src: url('./assets/font/CentraNo2-Bold.ttf');
    font-weight: 700;
  }

  @font-face {
    font-family: 'Centra';
    src: url('./assets/font/CentraNo2-Medium.ttf');
    font-weight: 500;
  }

  @font-face {
    font-family: 'Centra';
    src: url('./assets/font/CentraNo2-Book.ttf');
    font-weight: 400;
  }

  /* Estilos Globales Mejorados */
  /* Estilos Globales Mejorados */
  body,
  html {
    margin: 0;
    padding: 0;
    font-family: 'Centra', sans-serif;
    background: linear-gradient(135deg, #ffffff, #f0f0f0, #ffffff, #f7f7f7);
    color: #000;
    /* Cambiando el color de texto a negro para mejor contraste */
    font-size: 16px;
    scroll-behavior: smooth;
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
  }

  @keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }


  /* Mejoras Específicas para NavBar */
  .navbar {
    padding: 20px 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1050;
    background-color: rgba(18, 18, 18, 0.9);
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  }

  .navbar.scrolled {
    padding: 15px 10px;
    background-color: rgba(18, 18, 18, 0.95);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  }

  .navbar a.navbar-brand {
    font-weight: 700;
    color: #FFC107;
    transition: color 0.3s ease;
  }

  .navbar a.navbar-brand:hover {
    color: #fff;
  }

  .navbar .navbar-nav .nav-link {
    color: #fff;
    transition: color 0.3s ease;
  }

  .navbar .navbar-nav .nav-link:hover,
  .navbar .navbar-nav .nav-link.active {
    color: #FFC107;
  }

  .social-icon {
    display: inline-block;
    margin-left: 14px;
  }

  .social-icon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

  .social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;
  }

  .social-icon a:hover::before {
    transform: scale(1);
  }

  .social-icon a img {
    width: 40%;
    z-index: 1;
    transition: 0.3s ease-in-out;
  }

  .social-icon a:hover img {
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
  }


  .product-list-container {
    padding: 20px;
  }

  .search-and-filter {
    margin-bottom: 20px;
  }

  .product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  @media (max-width: 768px) {
    .product-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 480px) {
    .product-list {
      grid-template-columns: 1fr;
    }
  }
