  @font-face {
    font-family: 'Centra';
    src: url('./assets/font/CentraNo2-Bold.ttf');
    font-weight: 700;
  }

  @font-face {
    font-family: 'Centra';
    src: url('./assets/font/CentraNo2-Medium.ttf');
    font-weight: 500;
  }

  @font-face {
    font-family: 'Centra';
    src: url('./assets/font/CentraNo2-Book.ttf');
    font-weight: 400;
  }

  /* Estilos Globales Mejorados */
  /* Estilos Globales Mejorados */
  body,
  html {
    margin: 0;
    padding: 0;
    font-family: 'Centra', sans-serif;
    background: linear-gradient(135deg, #ffffff, #f0f0f0, #ffffff, #f7f7f7);
    color: #000;
    /* Cambiando el color de texto a negro para mejor contraste */
    font-size: 16px;
    scroll-behavior: smooth;
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
  }

  @keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }


  /* Mejoras Específicas para NavBar */
  .navbar {
    padding: 20px 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1050;
    background-color: rgba(18, 18, 18, 0.9);
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  }

  .navbar.scrolled {
    padding: 15px 10px;
    background-color: rgba(18, 18, 18, 0.95);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  }

  .navbar a.navbar-brand {
    font-weight: 700;
    color: #FFC107;
    transition: color 0.3s ease;
  }

  .navbar a.navbar-brand:hover {
    color: #fff;
  }

  .navbar .navbar-nav .nav-link {
    color: #fff;
    transition: color 0.3s ease;
  }

  .navbar .navbar-nav .nav-link:hover,
  .navbar .navbar-nav .nav-link.active {
    color: #FFC107;
  }

  .social-icon {
    display: inline-block;
    margin-left: 14px;
  }

  .social-icon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

  .social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;
  }

  .social-icon a:hover::before {
    transform: scale(1);
  }

  .social-icon a img {
    width: 40%;
    z-index: 1;
    transition: 0.3s ease-in-out;
  }

  .social-icon a:hover img {
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
  }


  .product-list-container {
    padding: 20px;
  }

  .search-and-filter {
    margin-bottom: 20px;
  }

  .product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  @media (max-width: 768px) {
    .product-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 480px) {
    .product-list {
      grid-template-columns: 1fr;
    }
  }
  .hero-slider {
    max-width: 80% !important; 
    margin: auto !important;
  }
  
  .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
  }
  
  .slick-slide img {
    width: 100%; /* Asegura que la imagen cubra el ancho del slide */
    height: auto; /* Mantiene la proporción de la imagen */
    max-height: 70vh; /* Limita la altura máxima del slide */
    object-fit: cover; /* Cubre el área del slide sin perder las proporciones de la imagen */
  }
  
  .slick-prev, .slick-next {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo para mejor visibilidad */
    border-radius: 50%; /* Botones redondos */
    width: 40px; /* Tamaño de los botones */
    height: 40px; /* Tamaño de los botones */
  }
  
  .slick-prev { left: 10px; }
  .slick-next { right: 10px; }
  
  .parallax-section {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .parallax-background {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .back-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
  }
  
  .back-to-top-btn.show {
    opacity: 1;
    visibility: visible;
  }
  
  /* Ajustes para dispositivos móviles */
  @media (max-width: 768px) {
    .product-list {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .slick-slide img {
      max-height: 50vh; /* Altura máxima más conservadora para móviles */
    }
  }
 
  
    .slick-slide img {
      max-height: 30vh; /* Ajuste de altura para dispositivos muy pequeños */
      }
    
    /* Contenedor de ProductList */
  .product-list-container {
    max-width: 80%; /* O el porcentaje que prefieras para controlar el ancho */
    margin: auto; /* Centra la cuadrícula en la página */
  }.product-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, max-content));
    gap: 8px;
   
    justify-content: center; 
  }
  


  @media (max-width: 768px) {
    .product-list {
        grid-template-columns: 1fr; /* En dispositivos más pequeños, solo 1 producto por fila */
    }
  }
