  @font-face {
    font-family: 'Centra';
    src: url('./assets/font/CentraNo2-Bold.ttf');
    font-weight: 700;
  }

  @font-face {
    font-family: 'Centra';
    src: url('./assets/font/CentraNo2-Medium.ttf');
    font-weight: 500;
  }

  @font-face {
    font-family: 'Centra';
    src: url('./assets/font/CentraNo2-Book.ttf');
    font-weight: 400;
  }

  /* Estilos Globales Mejorados */
  /* Estilos Globales Mejorados */
  body,
  html {
    margin: 0;
    padding: 0;
    font-family: 'Centra', sans-serif;
    background: linear-gradient(135deg, #ffffff, #f0f0f0, #ffffff, #f7f7f7);
    color: #f6f1f1;
    /* Cambiando el color de texto a negro para mejor contraste */
    font-size: 16px;
    scroll-behavior: smooth;
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
  }

  @keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  header{
  
    background-size: cover;
    background-position:center;
    height: 300px;
}
header h1{
    text-align: center;
    font-size: 35px;
    /* background-color: #000; */
    color: #fff;
    padding: 30px 0;
}
  /* Mejoras Específicas para NavBar */
  .navbar {
    padding: 20px 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1050;
    background-color: rgba(0, 0, 6, 0.9);
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
    border-bottom: 2px solid rgba(92, 11, 11, 0.1);
  }

  .navbar.scrolled {
    padding: 15px 10px;
    background-color: rgba(18, 18, 18, 0.95);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  }

  .navbar a.navbar-brand {
    font-weight: 700;
    color: #FFC107;
    transition: color 0.3s ease;
  }

  .navbar a.navbar-brand:hover {
    color: #fff;
  }

  .navbar .navbar-nav .nav-link {
    color: #fff;
    transition: color 0.3s ease;
  }

  .navbar .navbar-nav .nav-link:hover,
  .navbar .navbar-nav .nav-link.active {
    color: #FFC107;
  }

  .social-icon {
    display: inline-block;
    margin-left: 14px;
  }

  .social-icon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

  .social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;
  }

  .social-icon a:hover::before {
    transform: scale(1);
  }

  .social-icon a img {
    width: 40%;
    z-index: 1;
    transition: 0.3s ease-in-out;
  }

  .social-icon a:hover img {
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
  }




  .search-and-filter {
    margin-bottom: 20px;
  }

 
  @media (max-width: 768px) {
    .product-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 480px) {
    .product-list {
      grid-template-columns: 1fr;
    }
  }
  
  
  .slick-prev { left: 10px; }
  .slick-next { right: 10px; }
  
  .parallax-section {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .parallax-background {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .back-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
  }
  
  .back-to-top-btn.show {
    opacity: 1;
    visibility: visible;
  }
  
  /* Ajustes para dispositivos móviles */
  @media (max-width: 768px) {
    .product-list {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .slick-slide img {
      max-height: 50vh; /* Altura máxima más conservadora para móviles */
    }
  }
 
  
    .slick-slide img {
      max-height: 30vh; /* Ajuste de altura para dispositivos muy pequeños */
      }
    
/* Estilos para el contenedor principal de la lista de productos */
.product-list-container {
  max-width: 80%; /* Controla el ancho del contenedor principal */
  margin: auto; /* Centra el contenedor en la página */
  padding: 10px; /* Agrega un padding alrededor para evitar que los elementos toquen los bordes */
  display: flex;
  justify-content: space-between; /* Esto no afectará directamente a .product-list si este ya está centrado */
}

  /* Estilos específicos para la lista de productos */
  .product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Mantiene 4 columnas, distribuyendo el espacio uniformemente */
    gap: 30px; /* Espacio entre los elementos y filas ajustado para más coherencia */
    justify-content: center; /* Alinea los elementos de la cuadrícula hacia el centro del contenedor */
    padding: 10px 0; /* Añade un poco de padding vertical para separación */
  }

  /* Estilos para cada item dentro de la cuadrícula de productos */
  .product-list .item {
    border: 1px solid #666; /* Define el borde de cada producto */
    border-radius: 10px; /* Redondea los bordes */
    padding: 20px; /* Espacio interno alrededor del contenido de cada producto */
    transition: all .3s ease-in-out; /* Suaviza la transición de efectos como el hover */
  }

  .product-list .item .img-item {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del item */
  }

  .product-list .item:hover {
    box-shadow: 0 0 10px #666; /* Sombra para destacar el item al pasar el mouse */
    transform: scale(1.05); /* Ligeramente más grande al hacer hover */
  }

  .product-list .item .titulo-item, .product-list .item .precio-item {
    text-align: center; /* Centra el texto dentro del item */
    font-weight: bold; /* Texto en negrita para mayor legibilidad */
  }

  .product-list .item .titulo-item {
    text-transform: uppercase; /* MAYÚSCULAS para el título */
  }

  .product-list .item .precio-item {
    font-size: 22px; /* Tamaño de fuente para el precio */
  }

  .product-list .item .boton-item {
    display: block;
    margin: 10px auto; /* Centra el botón bajo el contenido */
    background-color: black; /* Fondo negro para el botón */
    color: white; /* Texto blanco para contraste */
    padding: 5px 15px; /* Padding alrededor del texto del botón */
    border-radius: 5px; /* Bordes redondeados para el botón */
    cursor: pointer; /* Cursor en forma de mano al pasar por encima */
    border: none; /* Quita el borde por defecto del botón */
  }


  @media (max-width: 768px) {
    .product-list {
        grid-template-columns: 1fr; /* En dispositivos más pequeños, solo 1 producto por fila */
    }
  }
